#restaurant-card{
    width : 100px;
    height : 150px;
    background-color: bisque;
}

.veena{
    background-color: red;
}

body{
    background-color: black;
}

h1{
    background-color: bisque;
}